/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'IndustryFont';
  src: url('#{$if-font-path}/industry-font.eot');
  src: url('#{$if-font-path}/industry-font.eot') format('embedded-opentype'),
    url('#{$if-font-path}/industry-font.woff2') format('woff2'),
    url('#{$if-font-path}/industry-font.woff') format('woff'),
    url('#{$if-font-path}/industry-font.ttf') format('truetype'),
    url('#{$if-font-path}/industry-font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
